/* Inputs */
form#inputsContainer{
    display: grid;
    /* grid-template-columns: 4fr 4fr;
    grid-template-rows: 2fr 2fr; */
}
#inputsContainer div.sendEmailinputs{
    font-size: 1.2rem;
    font-weight: 200;
    line-height: normal;
    display: flex;
    flex-direction: column;
    width: 45%;
}   
.msgContainer{
    
}